@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100;200;300;400&display=swap');

@font-face {
  font-family: nothingLEd ;
  src: url(../public/font/Nothing_NdroidOs_led.ttf);
}

@font-face {
  font-family: nothingDots;
  src: url(../public/font/Nothing_ndroidos_dot.ttf);
}

@font-face {
  font-family: nothingMain ;
  src: url(../public/font/Nothing\ NdroidOs\ Main.ttf);
}

@font-face {
  font-family: nothingOS;
  src: url(../public/font/Nothing\ but\ NdroidOs.ttf);
}

@font-face {
  font-family: nothingItalic;
  src: url(../public/font/Nothing_NdroidOs_italic.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  width: 100%;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: 'Taviraj', serif;
  background-color: #f4f4f2;
  color: #1d1d1f;
  font-style: normal;
}
a{
  text-decoration: none;
  color: #1d1d1f;
}
a:hover{
  text-decoration: none;
}